
html{
    background-color: #121212;
    box-sizing: border-box;


}

*, *::before, *::after {
    box-sizing: inherit;
}




.wrapper {

    max-width: 1060px;
    margin: 0 auto;

}

.header {
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 30px;
}

.header_wrapper {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.header_list {
    display: flex;
    flex-wrap: wrap;
}

.header_link{
    color: #FFF;
    text-align: right;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.header_item{

    margin-right: 50px;
}

.header_item:last-child {

    margin-right: 0;

}


.header_link:hover{
    transition: 0.5s;
    color: #5865F2;

}


